/* reset.css */

@import "_reset.scss";

/* style.css */

$primary-color: #0076ff;
$success-color: #19b119;

@mixin btn-template($btn-color) {  
    background-color: $btn-color;
    &:hover {
        background-color: darken($btn-color, 10%);
    }
    &:active {
        background-color: lighten($btn-color, 10%);
    }
    &:focus {
        outline: none;
    }
}


.btn {
    border: 0;
    border-radius: 4px;
    display: inline-block;
    color: #FFF;
    padding: 12px;
    line-height: 1.5;
    font-size: 1em;
    cursor: pointer;
}

.btn-primary {
    @include btn-template($primary-color);
}

.btn-success {
    @include btn-template($success-color);
}